<div class="recipe-div">

  <a id="backtorecipe" href="/recipes/userRecipe/{{theRecipe._id}}">back to recipe</a>


  <div class="submit-photo-div">
    <form id="submit-photo-form" action="/recipes/add-image/{{theRecipe._id}}" enctype="multipart/form-data"
      method="POST">

      <div class="file-field input-field">
        <div class="btn">
          <span>Recipe Image</span>
          <input type="file" name='image' />
        </div>
        <div class="file-path-wrapper">
          <input class="file-path validate" name='image' type="text" placeholder="Upload file" />
        </div>
      </div>

      <button>submit</button>
    </form>
  </div>


  <form id="wholerecipe" action="/recipes/update/{{theRecipe._id}}" method="POST">


    <div class="top-div-edit">


      <div class="top-right-div-edit">

        <label id="edit-names" for="names">Recipe Name</label>
        <textarea name="name" placeholder="{{theRecipe.name}}" id="" type="text"
          class="materialize-textarea"></textarea>
        {{!-- <input name="name" placeholder="{{theRecipe.name}}"> --}}
        <label id="edit-names" for="snippet">Recipe Snippet</label>
        <textarea name="snippet" placeholder="{{theRecipe.snippet}}" id="" type="text"
          class="materialize-textarea"></textarea>
        {{!-- <input name="snippet" placeholder="{{theRecipe.snippet}}"> --}}

        <div id="tag-div-edit">
          {{#each theRecipe.tags}}
          <div id="eachtag">
            <p>{{this}}</p>
            <form action="/recipes/delete-tag/{{../theRecipe._id}}/{{@index}}" method="POST">
              <button id="deletebtntop" class="waves-effect waves-teal btn-flat">delete</button>
            </form>
          </div>
          {{/each}}
        </div>
        <div id="add-tag">

          <form id="addtagform" action="/recipes/add-tag/{{theRecipe._id}}" method="POST">
            <label id="" for="tags">add tag</label>
            <input id="" name="tags" placeholder="ex. healthy, green, easy"><br>
            <button id="add-more" class="waves-effect waves-teal btn-flat">add new</button>
          </form>

          {{!-- <label for="">add tag</label>
          <input name="tags" placeholder="ex. healthy, green, easy">
          <a id="add-more" href="route to add new element to page">add</a> --}}
        </div>

      </div>

    </div>




    <div class="detailed-div">

      <div id="d-ingredients-edit">
        <h5 id="d-titleing">Indredients</h5>
        {{#each theRecipe.ingredientsList}}
        <div id="each-ing-edit">

          <textarea name="ingredient_{{@index}}" id="edit-each-ing" type="text" class="materialize-textarea"
            form="wholerecipe">{{this.original}}</textarea>

          {{!-- <input type="text" name="ingredient-{{@index}}" id="{{@index}}" value="{{this.original}}"> --}}


          <form id="deleteform" action="/recipes/delete-ing/{{../theRecipe._id}}/{{@index}}" method="POST">
            <button id="deletebtn" class="waves-effect waves-teal btn-flat">delete</button>
          </form>


        </div>
        {{/each}}


        <form id="addnewform" action="/recipes/add-ing-to-recipe/{{theRecipe._id}}" method="POST">

          <label id="addi" for="">add ingredient</label>
          <input id="ing-input" name="newing" placeholder="ex. 3 cloves garlic"><br>
          <button id="add-more" class="waves-effect waves-teal btn-flat">add new</button>

        </form>


      </div>


      <div id="d-instructions">
        <h5 id="d-title">Preparation</h5>
        {{#each theRecipe.detailedInstructions}}
        <div id="each-ins-edit">
          <textarea form="wholerecipe" name="instructions_{{@index}}" id="ins-edit-form" type="text"
            class="materialize-textarea">{{this.step}}</textarea>

          <form id="deleteform" action="/recipes/delete-step/{{../theRecipe._id}}/{{@index}}" method="POST">
            <button id="deletebtn" class="waves-effect waves-teal btn-flat">delete</button>
          </form>

        </div>
        {{/each}}

        <form id="addstepform" action="/recipes/add-step-to-recipe/{{theRecipe._id}}" method="POST">

          <label id="adds" for="">add step</label>
          <input id="ing-input" name="newstep" placeholder="ex. heat oil in a frying pan and add onions"><br>
          <button class="waves-effect waves-teal btn-flat" id="add-more">add new</button>

        </form>

      </div>

    </div>


    <div class="notes-div">

      {{#each theRecipe.notes}}
      <p>{{this}}</p>
      <form action="/recipes/delete-note/{{../theRecipe._id}}/{{@index}}" method="POST">
        <button id="deletebtnnote" class="waves-effect waves-teal btn-flat">delete</button>
      </form>
      {{/each}}


      <form id="addnoteform" action="/recipes/add-note/{{theRecipe._id}}" method="POST">

        <label id="addnotetitle" for="">add note</label>
        <input id="notes-input" name="notes" placeholder="how did it go?"><br>
        <button id="add-more" class="waves-effect waves-teal btn-flat">add new</button>

      </form>

    </div>



  </form>

  <button type="submit" form="wholerecipe" id="submit-whole-recipe" class="waves-effect waves-teal btn-flat">Update
    Recipe</button>

</div>