<div class="recipe-div">

  <div id="edit-delete">
    <a id="editrecipe" href="/recipes/edit/{{recipeDetails._id}}">edit this recipe</a>
    <form action="/recipes/delete/{{recipeDetails._id}}" method="POST"><button id="deleterecipe"
        class="waves-effect waves-teal btn-flat">delete this
        recipe</button></form>
  </div>

  <div class="top-div">

    <a id="img-anchor" href="{{recipeDetails.source}}"><img id="recipe-image" src="{{recipeDetails.image}}" alt=""></a>

    <div class="top-right-div">

      <h1>{{recipeDetails.name}}</h1>
      <h4>{{recipeDetails.snippet}}</h4>

      <div id="tag-div">
        {{#each recipeDetails.tags}}
        <p>{{this}}</p>
        {{/each}}
      </div>

    </div>

  </div>



  <div class="detailed-div">

    <div id="d-ingredients">
      <h5 id="d-title">Indredients</h5>
      {{#each recipeDetails.ingredientsList}}
      <div id="each-ing">
        <p>{{this.original}}</p>
      </div>
      {{/each}}

    </div>

    <div id="d-instructions">
      <h5 id="d-title-ins">Preparation</h5>
      {{#each recipeDetails.detailedInstructions}}
      <p>{{this.step}}</p>
      {{/each}}

    </div>
  </div>


  <div class="notes-div">

    {{#each recipeDetails.notes}}
    <p>{{this}}</p>
    {{/each}}

    {{!-- <form id="note-form" action="" method="POST">
      <div id="form-row" class="row">

        <div class="input-field col s12">
          <textarea name="notes" placeholder="how did it go?" id="notes-input" type="text"
            class="materialize-textarea"></textarea>
        </div>

      </div>
      <button id="submit-note" class="waves-effect waves-teal btn-flat">add note</button>
    </form> --}}

  </div>








</div>