
<div class="recipe-div">



  <div class="top-div">

    <a href="{{recipeDetails.source}}"><img id="recipe-image" src="/images/calum-lewis-vA1L1jRTM70-unsplash.jpg" alt=""></a>

    <div class="top-right-div">

      <h1>{{recipeDetails.name}}</h1>
      <h4>{{recipeDetails.snippet}}</h4>

      <div id="tag-div">
        {{#each recipeDetails.tags}}
          <p>{{this}}</p>
        {{/each}}
      </div>

    </div>

  </div>




  {{!-- <div class="instructions-div">
    <p>{{recipeDetails.instructions}}</p>
  </div> --}}


  <div class="detailed-div">

    <div id="d-ingredients">
      <h5 id="d-title">Indredients</h5>
      {{#each recipeDetails.ingredientsList}}
        <div id="each-ing">
          <p>{{this.original}}</p>
        </div>
      {{/each}}

    </div>

    <div id="d-instructions">
      <h5 id="d-title">Preparation</h5>
      {{#each recipeDetails.detailedInstructions.0.steps}}
        <p>{{this.step}}</p>
      {{/each}}

    </div>

  </div>


  <div class="notes-div">

    {{#each recipeDetails.notes}}
      <p>{{this}}</p>
    {{/each}}

    <form id="note-form" action="" method="POST">
      <div id="form-row" class="row">

        <div class="input-field col s12">
          <textarea name="notes" placeholder="how did it go?" id="notes-input" type="text" class="materialize-textarea"></textarea>
        </div>

      </div>
      <button id="submit-note" class="waves-effect waves-teal btn-flat">add note</button>
    </form>

  </div>









</div>